<h2>Character Show Page</h2>

<h4><%= @character.name %></h4>

<h6><%= @character.user.username %></h6>

<p><%= link_to 'mode_edit', edit_character_path(@character), class: "right material-icons" %></p>


<h4><%= @toon.character_name %></h4>