@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import "materialize";


body {
  background-color: #031926;
}

li {
  font-size: 150%;
}

table tr:hover {
  background-color: grey;
}

tr td:hover {
  background-color: grey;
}

th {
  font-size: 150%;
}